$spacing-properties: (
  'padding': 'padding',
  'margin': 'margin'
) !default;

$spacing-directions: (
  null: null,
  '-top': '-top',
  '-right': '-right',
  '-bottom': '-bottom',
  '-left': '-left',
  '-horizontal': '-left' '-right',
  '-vertical': '-top' '-bottom'
) !default;

$spacing-sizes: (
  '-tiny': 0.25,
  '-small': 0.5,
  '-medium': 1,
  '-large': 2,
  '-huge': 4,
  '-none': 0
) !default;

@each $property-namespace, $property in $spacing-properties {
  @each $direction-namespace, $direction-rules in $spacing-directions {
    @each $size-namespace, $size in $spacing-sizes {
      .has-#{$property-namespace}#{$direction-namespace}#{$size-namespace} {
        @each $direction in $direction-rules {
          #{$property}#{$direction}: $size + rem !important;
        }
      }
    }
  }
}
