@charset "utf-8";

@import 'utilities/_all';
@import "~bulma/sass/base/_all";
@import "~bulma-helpers/bulma-helpers";

@import "components/columns/columns";
@import "components/components/components";
@import "components/elements/elements";
@import "components/form/form";
@import "components/layout/layout";

// ADD HERE variables you want to override
$primary: #7957d5 !default;
$primary-invert: $white !default;

$info: #167df0 !default;

$link: $primary !default;
$link-invert: $primary-invert !default;
$link-visited: $grey !default;
$link-focus-border: $primary !default;
